* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}
.navbar {
  justify-content: center;
  padding: 15px 0;
}

.nav-item {
  margin: 0 2.5rem;
}
.nav-link {
  cursor: pointer;
}

.aboutMe {
  text-align: center;
  height: 30rem;
  background-color: rgb(165, 53, 53);
  display: flex;
  color: white;
}
.content {
  width: 700px;
  margin: auto;
  text-align: center;
}

h3,
h1 {
  font-weight: 700;
}
.iconLinks {
  margin: 3rem auto 0 auto;
  width: 200px;
  justify-content: space-between;
  display: flex;
}

.proyects {
  padding-top: 50px;
}
.proyectBody {
  text-align: start;
}

ul {
  list-style-type: none;
}

iframe {
  align-self: center;
  width: 80vw;
  height: 80vh;
}

.proyects .iconLinks {
  margin: 2rem auto;
}

#educationDiv {
  width: 55%;
  margin: auto;
}
.education {
  display: flex;
  justify-content: space-between;
}

.courses,
.titles {
  padding: 10px 0;
  width: 24vw;
}

.item {
  justify-content: space-between;
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
}
.item > h6 {
  width: 30%;
}
.item div {
  width: 70%;
}
.titles > h5,
.courses > h5 {
  font-weight: 700;
}

.lightgray {
  color: rgb(255, 168, 168);
}

.contact {
  background-color: lightgreen;
}

.fullWidth {
  background-color: rgb(165, 53, 53);
  height: 35rem;
  display: flex;
  color: white;
}
