:root {
  --main-color: rgb(165, 53, 53);
  --main-color-2: rgb(92, 53, 53);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  padding: 15px 0;
}
.navbar-toggler:focus,
.navbar-toggler {
  border: none;
  outline: none;
}
.navbar ul {
  width: 40%;
}
.nav-item {
  position: relative;
  cursor: pointer;
}
nav a::after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--main-color);
  transition: transform ease-in-out 175ms;
  transform: scaleX(0);
}
nav a:focus::after,
nav a:hover::after {
  transform: scaleX(1);
}

.aboutMe {
  text-align: center;
  height: 30rem;
  background-color: var(--main-color);
  display: flex;
  color: white;
}
.content {
  width: 700px;
  margin: auto;
  text-align: center;
}

h3,
h1 {
  font-weight: 700;
}
.iconLinks {
  margin: 3rem auto 0 auto;
  width: 200px;
  justify-content: space-between;
  display: flex;
}
.aboutMe .iconLinks a:hover {
  color: initial;
}

.proyects {
  padding-top: 4.5rem;
}
.proyectBody {
  text-align: start;
}

ul {
  list-style-type: none;
}

iframe {
  align-self: center;
  width: 80vw;
  height: 80vh;
}

.proyects .iconLinks {
  margin: 2rem auto;
}

#educationDiv {
  width: 60%;
  margin: auto;
}
.education {
  display: flex;
  justify-content: space-between;
}

.courses,
.titles {
  padding: 10px 0;
  width: 26vw;
}

.item {
  position: relative;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  padding: 10px 10px 0 10px;
}
.link-spanner:hover {
  border: 1px solid white;
}
.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 9999px;
}
.item > h6 {
  width: 30%;
}
.item div {
  width: 70%;
}
.titles > h5,
.courses > h5 {
  font-weight: 700;
}

.lightgray {
  color: rgb(255, 168, 168);
}

.contact {
  width: 60%;
  padding: 4.5rem 0;
}
.contact .all {
  display: flex;
  justify-content: space-between;
}
.contact .sub {
  width: 50%;
}
.contact a {
  color: inherit;
  font-size: 25px;
  border-radius: 9999px;
  padding: 13px 20px;
}
.contact a:hover {
  background-color: var(--main-color);
  color: white;
}
.contact i {
  margin-right: 5px;
}

.fullWidth {
  background-color: var(--main-color);
  height: 35rem;
  display: flex;
  color: white;
}

footer {
  height: 10vh;
  background-color: var(--main-color);
}

.fa-youtube {
  color: red;
}
.fa-book {
  color: rgb(90, 90, 90);
}

.iconLinks .btn-light:hover .fa-book {
  color: black;
}
